<% if flash[:notice] %>
  <p class=""><%= notice %></p>
  
<% elsif flash[:alert] %>
  <p class="update"><%= alert %></p>

<% end %>

Title:<%= @book.title %><br>
Body:<%= @book.body %><br>



<%= link_to "Edit", edit_book_path(@book.id) %>
<%= link_to "Back", '/books' %>